<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="center-text">Welcome to AllUp Admin Panel</h1>
                </div>
            </div>
        </div>
    </div>

    <style>
        .center-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh; /* Yüksekliği tüm ekranı kaplasın diye */
            color:black
        }
    </style>


        
